@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: clamp(1.3rem, 3vw, 3.5rem);
}

.titulo {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: clamp(1.3rem, 2.5vw, 3rem);
  text-align: left;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

p {
  font-size: clamp(1rem, 1.3vw, 1.3rem);
}

a {
  text-decoration: none;
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: white;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1c58a6;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}

.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1c58a6;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}

.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

* {
  padding: 0;
  margin: 0;
}

nav {
  height: 15vh;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1c58a6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 5000;
  -webkit-transition: top 0.6s;
  transition: top 0.6s;
}

nav a {
  text-decoration: none;
  color: #a0c3d9;
}

.logo svg {
  width: clamp(3rem, 4vw, 4rem);
  height: 15vh;
}

.branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 15vh;
  width: 50%;
}

.branding img {
  width: clamp(3rem, 5vw, 5rem);
  padding-left: 5%;
}

.brand {
  color: white;
  font-family: "Nunito", sans-serif;
  padding-left: 20px;
  font-size: clamp(1.4rem, 5vw, 2rem);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Poppins", sans-serif;
  margin-right: 5%;
}

.menu a {
  padding-bottom: 6px;
}

.menu a:hover {
  color: #F9F9F9;
}

/* Underline From Right */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #F9F9F9;
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.burger {
  display: none;
  cursor: pointer;
  padding-right: 10px;
}

.burger div {
  width: 30px;
  height: 3px;
  margin: 5px;
  background-color: #a0c3d9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.drop-content {
  display: none;
  position: absolute;
  padding: 15px 25px;
  padding-top: 5vh;
  background-color: transparent;
  min-width: 150px;
}

.drop-content a {
  float: none;
  color: #1c58a6;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
}

.drop-content a::before {
  content: '';
  position: absolute;
  display: block;
  width: 0%;
  opacity: 0;
  height: 0px;
  background-color: #1c58a6;
}

.drop-content a:hover {
  color: #1c58a6;
}

.drop-content a:hover::before {
  width: 0%;
  opacity: 1;
  height: 1.8px;
  -webkit-transition: height 0.3s ease-out, opacity 0.3s ease-out, width 0.3s ease-out;
  transition: height 0.3s ease-out, opacity 0.3s ease-out, width 0.3s ease-out;
}

.drop-content-int {
  background: white;
  padding-top: 16vh;
  opacity: 0.9;
  position: absolute;
  padding: 15px 25px;
  min-width: 160px;
  border-radius: 0 15px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.drop:hover + .drop-content {
  display: block;
}

.drop-content:hover {
  display: block;
}

.drop:active + .drop-content {
  display: block;
}

.drop-content:active {
  display: block;
}

.drop-content-int a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5px;
}

.drop-content-int a:hover {
  background: #1c58a6;
  color: white;
}

.divisor {
  margin: 10px 15px;
  height: 1px;
  margin: 9px 0;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
  background-color: #1c58a6;
}

@-webkit-keyframes navlinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navlinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

footer {
  position: relative;
  margin-top: 150px;
  background: #1c58a6;
  height: 70vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3% 35% 60%;
      grid-template-columns: 3% 35% 60%;
  -ms-grid-rows: 60% 30% 10%;
      grid-template-rows: 60% 30% 10%;
  overflow: hidden;
      grid-template-areas: '. brand form' '. menu form' '. contacto contacto';
}

footer h4 {
  color: white;
  text-align: center;
  font-size: clamp(1rem, 1.3vw, 1.5rem);
}

footer p {
  color: #a0c3d9;
  font-size: clamp(1rem, 1.2vw, 1.8rem);
}

.fcontacto {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: contacto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.fcontacto img {
  width: 20px;
  padding-right: 5px;
}

.fcontacto p {
  font-size: clamp(0.8rem, 0.6vw, 0.8rem);
  color: white;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a0c3d9;
}

.cont:hover {
  color: white;
}

.fmenu {
  -webkit-transform: translateY(0, -30%);
          transform: translateY(0, -30%);
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: menu;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-top: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 10000;
}

.fmenu a {
  color: white;
  font-size: clamp(0.85rem, 1vw, 1.5rem);
}

.fmenu a:hover {
  color: #F9F9F9;
}

.fmenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
}

.fbranding {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: brand;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.fbranding svg {
  width: clamp(4rem, 7vw, 7rem);
}

.fcall {
  padding-top: 20px;
  letter-spacing: 1px;
  color: #a0c3d9;
}

.big {
  font-size: clamp(1.6rem, 1.8vw, 2.5rem);
  font-family: "Oswald", sans-serif;
  color: #a0c3d9;
}

.form {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
  padding: 30px 50px;
  padding-bottom: 120px;
  width: 80%;
  border-radius: 20px;
}

.form h3 {
  color: #a0c3d9;
}

.input {
  margin-top: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form label {
  line-height: 30px;
  color: #a0c3d9;
}

form input {
  padding: 10px;
  padding-bottom: 2px;
  border-radius: 3px;
  background: transparent;
  border: none;
  color: #a0c3d9;
  border-bottom: 2px solid white;
}

form input:focus, form input :active {
  border: none;
  border-bottom: 3px solid #14a662;
  outline: thin;
}

form label {
  padding-right: 5px;
}

form textarea {
  padding: 10px;
  padding-bottom: 2px;
  border-radius: 3px;
  color: #a0c3d9;
  background: transparent;
  border: 2px solid white;
}

form textarea:focus, form textarea :active {
  border: 2px solid #14a662;
  outline: thin;
}

.fnombre {
  width: 500px;
}

.ftext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #a0c3d9;
}

.btn {
  background: white;
  color: #1c58a6;
  padding: 15px 40px;
  margin-top: 30px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #14a461;
  color: white;
  border: 1px solid white;
}

.formaf {
  opacity: 0.8;
  margin-top: 70px;
  margin-left: -350px;
}

@media (max-width: 900px) {
  .burger {
    display: block;
    position: absolute;
    right: 5%;
  }
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    top: 0;
    width: 100%;
    background-color: #1c58a6;
    -webkit-clip-path: circle(100px at 90% -20%);
            clip-path: circle(100px at 90% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  .menu.open {
    -webkit-clip-path: circle(1000px at 90% -20%);
            clip-path: circle(1000px at 90% -20%);
    pointer-events: all;
  }
  .branding {
    width: 80%;
    margin-left: 5%;
  }
  footer {
    height: auto;
    -ms-grid-columns: 5% 90% 5%;
        grid-template-columns: 5% 90% 5%;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: '. brand .' '. menu .' '. form .' '. contacto .';
  }
  .form {
    padding: 20px 0;
  }
  .input {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fmenu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fmenu ul li {
    padding: 10px 0;
  }
  .iinput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  .formaf {
    display: none;
  }
}

main {
  width: 100vw;
}

.blog {
  position: relative;
  width: 100vw;
  top: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.blog a {
  text-decoration: none;
}

.blog img {
  -o-object-fit: cover;
     object-fit: cover;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 25vw;
}

.decor {
  width: 25vw;
  height: 40vh;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.div {
  background: url(img/blog1a.jpg), linear-gradient(240deg, #14a662 10%, #1c58a6 90%);
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
}

.cust {
  background: url(img/blog2.jpg), linear-gradient(240deg, #1c58a6 15%, #14a662 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
}

.lab {
  background: url(img/blog3.jpg), linear-gradient(240deg, #1c58a6 15%, #14a662 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
}

.desp {
  background: url(img/blog4.jpg), linear-gradient(240deg, #1c58a6 15%, #14a662 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
}

.toptit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% 0 2%;
}

.toptit p {
  font-size: clamp(0.7rem, 0.8vw, 0.8rem);
  color: #1c58a6;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}

.tit a {
  text-decoration: none;
}

.tit h3 {
  font-size: clamp(1rem, 1.5vw, 1.6rem);
  color: #1c58a6;
  letter-spacing: 1px;
  padding-bottom: 3%;
}

.res {
  font-size: clamp(0.8rem, 1vw, 1rem);
  text-align: justify;
}

.blogpost {
  display: -ms-grid;
  display: grid;
  position: relative;
  top: 15vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 45% 20% 35%;
      grid-template-columns: 45% 20% 35%;
      grid-template-areas: "headerpost decorpost decorpost" "respost decorpost decorpost" "textpost textpost extra";
}

.headerpost {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: headerpost;
  overflow: hidden;
  padding: 5%;
}

.headerpost h1 {
  position: relative;
  color: #1c58a6;
  top: 20%;
  padding-bottom: 30px;
  font-size: clamp(1.5rem, 3vw, 4rem);
}

.headerpost h3 {
  font-size: clamp(0.9rem, 1.3vw, 1.3rem);
}

.decorpost {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: decorpost;
  background: linear-gradient(240deg, #1c58a6 10%, #14a662 90%);
}

.decorpost img {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
}

.respost {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: respost;
  font-style: italic;
  padding: 0% 5%;
  text-align: left;
  line-height: 30px;
}

.respost p {
  font-size: clamp(0.9rem, 1.3vw, 1.3rem);
}

.textpost {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: textpost;
  padding: 5%;
}

.textpost h3 {
  color: #14a662;
  padding: 2% 0;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.textpost p {
  letter-spacing: 0.5px;
  text-align: justify;
  line-height: 30px;
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
}

.extra {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: extra;
  margin: 20% 10%;
}

.venta {
  padding: 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(img/back4.jpg), #1c58a6;
  background-size: cover;
  background-position: center;
  background-blend-mode: hard-light;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 0 15px;
}

.venta img {
  margin-top: 50px;
  width: 80px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-bottom: 10px;
}

.venta h3 {
  letter-spacing: 2px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  color: white;
  font-family: "Oswald", sans-serif;
}

.venta a {
  margin-top: 20px;
  padding: 20px 30px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#6a11cb), to(#2575fc));
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background: #14a662;
  text-decoration: none;
  color: white;
  margin-left: 50%;
  letter-spacing: 3px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 50px;
}

.bold {
  font-weight: bold;
  color: #1c58a6;
}

@media (max-width: 900px) {
  .post {
    width: 43vw;
  }
  .decor {
    width: 43vw;
  }
  .blog {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogpost {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 30vh;
        grid-template-rows: 30vh;
        grid-template-areas: "decorpost" "headerpost" "respost" "extra" "textpost";
  }
  .headerpost h1 {
    margin-bottom: 8%;
  }
  .textpost {
    padding: 5%;
  }
}

@media (max-width: 670px) {
  .post {
    width: 80vw;
  }
  .decor {
    width: 80vw;
  }
}
/*# sourceMappingURL=blog.css.map */